

<%- include("header") -%>
<h2>About the company</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui id br  <br>
    dolorem obcaecati voluptatem quas dolor? Rerum ipsum odio suscipit neque?</p>
    <%- include("footer") -%>